body {
    font-family: "Hammersmith One", sans-serif;
    background-color: $bkgd-color;
    @include boxmodel(0, 0);
    line-height: 1.5;
}

a {
    color: $text-light;
    &:hover {
        text-decoration: none;
        color: $logo-color;
    }
}

h1 {
    font-family: "Notable", sans-serif;
    color: $logo-color;
    text-align: center;
}

img {
    max-width: 100%;
}

nav {
    ul {
        list-style-type: none;
        @include boxmodel(0, 0);
        background-color: $primary-color;
        text-align: center;
        border-top: $double-border;
        border-bottom: $double-border;
    }
    a {
        color: #ffffff;
        display: block;
        padding: $std-space / 2;
        text-decoration: none;
        &:hover {
            color: $bkgd-color;
        }
    }
}

.bkgdimg {
    background: url(../media/images/jakes-meals.jpg) repeat-x;
    height: 250px;
}

article {
    padding: $std-space;
}

.card {
    border-radius: $radius;
    border: 2px solid $primary-color;
    background-color: #eeffff;
    /* this keeps the card no wider than the photo */
    max-width: 500px;
    margin: $std-space auto;
    h3,
    p {
        padding: 0 $std-space / 2;
    }
}

section {
    padding: $std-space;
    ul {
        list-style-type: none;
        @include boxmodel(0, 0);
    }
    a {
        display: block;
        background-color: $logo-color;
        padding: $std-space / 2;
        border-radius: $radius;
        color: #ffffff;
        text-decoration: none;
        border: 1px solid $logo-color;
        margin-bottom: $std-space;
        text-align: center;
        &:hover {
            background-color: #ffffff;
            color: $logo-color;
            border: 1px solid $logo-color;
        }
    }
}

footer {
    background-color: $primary-color;
    color: #ffffff;
    padding: $std-space;
    text-align: center;
    border-top: $double-border;
    margin-top: $std-space * 3;
    ul {
        list-style-type: none;
        @include boxmodel(0, 0);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        a {
            font-size: 2rem;
            display: block;
            margin: 0 $std-space 3rem $std-space;
            &:hover {
                color: $logo-color;
            }
        }
    }
}
